<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

            var clicks1 = 0;
            var clicks2 = 0;
            var clicks3 = 0;
function load(){
{% if todos1 %}

{% for item in todos1 %}

  {% if item.todoDurum == "Eklendi" and item.TodosJob == Joblist1 %}

  clicks1++;

  {% elif item.todoDurum == "Yapım Aşamasında" and item.TodosJob == Joblist1 %}

  clicks2++;
  {% elif item.todoDurum == "Bitti" and item.TodosJob == Joblist1 %}

  clicks3++;
{% else %}
  {% endif %}

{% endfor %}

{% else %}
{% endif %}

document.getElementById("clicks1").innerHTML = clicks1;
document.getElementById("clicks2").innerHTML = clicks2;
document.getElementById("clicks3").innerHTML = clicks3;
}
$(document).ready(function () {
document.getElementById("clicks1").innerHTML = clicks1;
document.getElementById("clicks2").innerHTML = clicks2;
document.getElementById("clicks3").innerHTML = clicks3;
        });


</script>
    <style>
      ::-webkit-scrollbar {
        width: 10px;
        background-color: rgba(0, 0, 0, 0);
        -moz-border-radius: 5px; // Mozilla için ovalleştirme
        -webkit-border-radius: 5px; // chrome için ovalleştirme
        border-radius: 5px; // İnternet Explorer için ovalleştirme
      }

      ::-webkit-scrollbar-thumb {
        background-color: rgba(104, 34, 139, 1);
      }

      ::-webkit-scrollbar-thumb:hover {
        background-color: orange;
      }

      ::-webkit-scrollbar-thumb:active {
        background-color: red;
      }

      #oval {
        -moz-border-radius: 5px; // Mozilla için ovalleştirme
        -webkit-border-radius: 5px; // chrome için ovalleştirme
        border-radius: 5px; // İnternet Explorer için ovalleştirme
      }
    </style>
  </head>
  <body
  onload="load()"
    style="
      background: url('https://c.files.bbci.co.uk/F98B/production/_99838836_mario976.jpg')
        center center fixed;
      background-size: cover;
    "
  >
  <button type="button" onClick="window.location.href='/'" class="btn btn-danger" data-bs-toggle="button" autocomplete="off">Ana Sayfa</button>
    <div style="position: absolute; top: 10px; left: 5%;">
      <button type="button" class="btn btn-primary" style="opacity: 1;" disabled>
        Yapılacaklar <span id="clicks1" class="badge badge-light">0</span>
      </button>
    </div>

    <div
      style="
        background-color: rgba(176, 224, 230, 0.5);
        width: 25%;
        height: 85%;
        top: 60px;
        padding: 1%;
        overflow-x: hidden;
        overflow-y: scroll;
        position: absolute;
        float: left;
        left: 5%;
      "
    >
      <div class="col">
        <div class="list-group">       

          {% if todos1 %}
          
            {% for item in todos1 %}
            
            {% if item.TodosJob == Joblist1 and item.todoDurum == "Eklendi" %}
            
            <div
            class="container-fluid"
            style="
              background-color: rgba(86,28,89, 0.8);
              width: 100%;
              height:auto;
             word-wrap:break-word;
              -webkit-border-radius: 20px;
              -moz-border-radius: 20px;
              border-radius: 20px;
              flex-direction: column;
              display:flex;
              padding:10px;
              box-sizing:border-box;
            "
            
            draggable="true"
          >
          <h5 style="margin-bottom:1rem;color:white;">{{item.todoTarih}}</h5>
          <h5 style="margin-bottom:1rem;color:white;">{{item.todoYapilacakIs}}</h5>
          <input type="text" style="visibility:hidden;height:2px;" name="itemid" value="{{item.id}}"/>
          <input type="text" style="visibility:hidden;height:2px;" name="jobid" value="{{Joblist1.id}}"/>
          <button style="margin-bottom:1rem;" onClick="window.location.href='/todos/{{item.id}}'" type="button" class="btn btn-info" >Görüntüle</button>
          <button style="margin-bottom:1rem;" onClick="window.location.href='/todos/{{item.id}}'" type="button" class="btn btn-success" >Düzenle</button>
          </div>
          <hr />

            {% else %}
            {% endif %}

            {% endfor %}

          {% else %}
          {% endif %}








        </div>
      </div>
    </div>

    <div
      style="
        background-color: rgba(176, 224, 230, 0.7);
        position: absolute;
        top: 93%;
        width: 18%;
        left:5%;
      "
    >
      <p style="color: white; float: left; font-weight: bold">
        Öğe eklemek için + işaretine tıklayınız
      </p>
      <button type="button" style="float: right" class="btn btn-info">+</button>
    </div>

    <div style="position: absolute; top: 10px; left: 39%">
      <button type="button" class="btn btn-secondary" style="opacity: 1;" disabled>
        Yapım Aşamasında <span id="clicks2" class="badge badge-light" >0</span>
      </button>
    </div>

    <div
      style="
        background-color: rgba(105, 105, 105, 0.5);
        width: 25%;
        height: 85%;
        top: 60px;
        padding: 1%;
        overflow-x: hidden;
        overflow-y: scroll;
        position: absolute;
        float: left;
        left: 39%;
      "
    >
      <div class="col">
        <div class="list-group">
{% if todos1 %}
          
            {% for item in todos1 %}
            
            {% if item.TodosJob == Joblist1 and item.todoDurum == "Yapım Aşamasında" %}
            
            <div
            class="container-fluid"
            style="
              background-color: rgba(86,28,89, 0.8);
              max-witdth: 16%;
              -webkit-border-radius: 20px;
              -moz-border-radius: 20px;
              border-radius: 20px;
              flex-direction: column;
              display:flex;
              padding:10px;
            "
            
            draggable="true"
          >
          <h5 style="margin-bottom:1rem;color:white;">{{item.todoTarih}}</h5>
          <h5 style="margin-bottom:1rem;color:white;">{{item.todoYapilacakIs}}</h5>
          <button style="margin-bottom:1rem;" type="button" class="btn btn-info" >Görüntüle</button>
          <button style="margin-bottom:1rem;" type="button" class="btn btn-success" >Düzenle</button>
          <button style="margin-bottom:1rem;" type="button" class="btn btn-danger" >Sİl</button>
          </div>
          <hr /> 

            {% else %}
            {% endif %}

            {% endfor %}

          {% else %}
          {% endif %}

            





        </div>
      </div>
    </div>

    <div
      style="
        background-color: rgba(105, 105, 105, 0.7);
        position: absolute;
        top: 93%;
        width: 18%;
        left: 39%;
      "
    >
      <p style="color: white; float: left; font-weight: bold">
        Öğe eklemek için + işaretine tıklayınız
      </p>
      <button type="button" style="float: right" class="btn btn-info">+</button>
    </div>

    <div style="position: absolute; top: 10px; left: 70%">
      <button type="button" class="btn btn-success" style="opacity: 1;" disabled>
        Bitmiş <span id="clicks3" class="badge badge-light">0</span>
      </button>
    </div>

    <div
      style="
        background-color: rgba(250,250,250, 0.5);
        width: 25%;
        height: 85%;
        top: 60px;
        padding: 1%;
        overflow-x: hidden;
        overflow-y: scroll;
        position: absolute;
        float: left;
        left: 70%;
      "
    >
      <div class="col">
        <div class="list-group">
                  {% if todos1 %}
          
            {% for item in todos1 %}
            
            {% if item.TodosJob == Joblist1 and item.todoDurum == "Bitti" %}
            
           <div
            class="container-fluid"
            style="
              background-color: rgba(86,28,89, 0.8);
              max-witdth: 16%;
              -webkit-border-radius: 20px;
              -moz-border-radius: 20px;
              border-radius: 20px;
              flex-direction: column;
              display:flex;
              padding:10px;
            "
            
            draggable="true"
          >
          <h5 style="margin-bottom:1rem;color:white;">{{item.todoTarih}}</h5>
          <h5 style="margin-bottom:1rem;color:white;">{{item.todoYapilacakIs}}</h5>
          <button style="margin-bottom:1rem;" type="button" class="btn btn-info" >Görüntüle</button>
          <button style="margin-bottom:1rem;" type="button" class="btn btn-success" >Düzenle</button>
          <button style="margin-bottom:1rem;" type="button" class="btn btn-danger" >Sİl</button>
          </div>
          <hr />

            {% else %}
            {% endif %}

            {% endfor %}

          {% else %}
          {% endif %}




        </div>
      </div>
    </div>

    <div
      style="
        background-color: rgba(250,250,250, 0.5);
        position: absolute;
        top: 93%;
        width: 18%;
        left: 70%;
      "
    >
      <p style="color: black; float: left; font-weight: bold">
        Öğe eklemek için + işaretine tıklayınız
      </p>
      <button type="button" style="float: right" class="btn btn-info">+</button>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
