<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>
  <body
    style="
      background: url('https://c.files.bbci.co.uk/F98B/production/_99838836_mario976.jpg')
        center center fixed;
      background-size: cover;
    "
  >

<div class="container" style="box-sizing: border-box;background-color: rgba(176, 224, 230, 0.5);">


    <div
      class="container"
      style="display: flex;width:auto;height:auto;
  justify-content: space-between;margin-top:1rem;"
    >

    <div class="container" style="display:flex;align-items: center;">  <div class="container"> <img src="https://www.inmg.gov.cv/images/screen-shot-2019-09-22-at-6.00.12-pm.png" class="img-thumbnail"></div>
        <div class="container"> <h3> DENEME</h3> </div></div>
       


      <div class="container">



        <div style="width: 10rem" class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm"
              >Tarih</span
            >
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Small"
            placeholder="GG/AA/YYYY"
            aria-describedby="inputGroup-sizing-sm"
          />
        </div>

        <div style="width: 10rem" class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm"
              >Kart No:</span
            >
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Small"
            placeholder="#######"
            aria-describedby="inputGroup-sizing-sm"
          />
        </div>


      </div>


    </div>


<div
      class="container"
      style="display: flex;width:auto;height:auto;
  justify-content: space-between;margin-top:1rem;box-sizing: border-box;"
    >


        
      <div class="container">



        <div style="width: 15rem" class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm"
              >Proje no/adı:</span
            >
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Small"
            placeholder="#######"
            aria-describedby="inputGroup-sizing-sm"
          />
        </div>

        <div style="width: 15rem" class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm"
              >Teknik uzman:</span
            >
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Small"
            placeholder="#######"
            aria-describedby="inputGroup-sizing-sm"
          />
        </div>


      </div>





      <div class="container">



        <div style="width: 15rem" class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm"
              >Tahmini süre</span
            >
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Small"
            placeholder="#######"
            aria-describedby="inputGroup-sizing-sm"
          />
        </div>

        <div style="width: 15rem" class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm"
              >Gerçekleşen süre:</span
            >
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Small"
            placeholder="#######"
            aria-describedby="inputGroup-sizing-sm"
          />
        </div>


      </div>


    </div>



    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
