<!DOCTYPE html>
{% comment %} iş ekle sayfası {% endcomment %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
    <script type="text/javascript">
    var sayac= {{i}};
    
    function fonk(){
    sayac++;
    var a = document.getElementById("k2");
    a.insertAdjacentHTML("afterend",'<div id="k1" style="display:flex;justify-content:space-between"> <input type="date" class="form-control" aria-label="Small" placeholder="Tarih" aria-describedby="inputGroup-sizing-sm" name = "t'+sayac+'" /> <select class="form-control" aria-describedby="inputGroup-sizing-sm" name = "d'+sayac+'"><option selected>Eklendi</option><option>Yapım Aşamasında</option><option>Bitti</option></select> <input type="text" class="form-control" aria-label="Small" placeholder="Yapılacak iş" aria-describedby="inputGroup-sizing-sm" name = "y'+sayac+'" /> <input type="text" class="form-control" aria-label="Small" placeholder="Açıklama" aria-describedby="inputGroup-sizing-sm" name = "a'+sayac+'" /></div>');
     document.getElementById("sayac").innerHTML=sayac;
      
    console.log(sayac);




    }
    </script>
  </head>
  <body
    style="
      background: url('https://c.files.bbci.co.uk/F98B/production/_99838836_mario976.jpg')
        center center fixed;
      background-size: cover;
    "
  >
  <form method="post" action="/isGuncelleAction/{{nesne.id}}">
  {% csrf_token %}
    <div
      class="container"
      style="
        box-sizing: border-box;
        background-color: rgba(176, 224, 230, 0.5);
        width: 80rem;
      "
    >
      <div
        class="container"
        style="
          display: flex;
          width: 100%;
          height: auto;

          margin-top: 1rem;
          background-color: rgba(176, 224, 230, 1);
        "
      >
        <div class="container" style="display: flex; align-items: center">
          <div class="container">
            <img
              src="https://www.inmg.gov.cv/images/screen-shot-2019-09-22-at-6.00.12-pm.png"
              class="img-thumbnail"
            />
          </div>
          <div class="container"><h3>DENEME</h3></div>
        </div>

        <div class="container" style="width: 14rem">
          <div style="width: 12rem" class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm" 
                >Tarih</span
              >
            </div>
            <input
              type="date"
              class="form-control"
              aria-label="Small"
              placeholder="GG/AA/YYYY"
              aria-describedby="inputGroup-sizing-sm"
              name="tarih"
              value="{{nesne.Tarih}}"
            />
          </div>

          <div style="width: 12rem" class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm"
                >Kart No:</span
              >
            </div>
            <input
              type="text"
              class="form-control"
              aria-label="Small"
              placeholder="#######"
              aria-describedby="inputGroup-sizing-sm"
              name="kartNo"
              value="{{nesne.KartNo}}"
            />
          </div>
        </div>
      </div>

      <div
        class="container"
        style="
          display: flex;
          width: auto;
          height: auto;
          justify-content: space-between;
          margin-top: 1rem;
          box-sizing: border-box;
          background-color: rgba(176, 224, 230, 1);
        "
      >
        <div class="container">
          <div style="width: 20rem" class="input-group input-group-sm mb-3">
            <div class="input-group-prepend" style="width: 10rem">
              <span class="input-group-text" id="inputGroup-sizing-sm"
                >Proje no/adı:</span
              >
            </div>
            <input
              type="text"
              class="form-control"
              aria-label="Small"
              placeholder="#######"
              aria-describedby="inputGroup-sizing-sm"
              name="projeNo"
              value="{{nesne.ProjeNo}}"
            />
          </div>

          <div style="width: 20rem" class="input-group input-group-sm mb-3">
            <div class="input-group-prepend" style="width: 10rem">
              <span class="input-group-text" id="inputGroup-sizing-sm"
                >Teknik uzman:</span
              >
            </div>
            <input
              type="text"
              class="form-control"
              aria-label="Small"
              placeholder="#######"
              aria-describedby="inputGroup-sizing-sm"
              name = "teknikUzman"
              value="{{nesne.TeknikUzman}}"
            />
          </div>
        </div>
        <div class="container">
          <div style="width: 20rem" class="input-group input-group-sm mb-3">
            <div class="input-group-prepend" style="width: 10rem">
              <span class="input-group-text" id="inputGroup-sizing-sm"
                >Tahmini süre</span
              >
            </div>
            <input
              type="text"
              class="form-control"
              aria-label="Small"
              placeholder="#######"
              aria-describedby="inputGroup-sizing-sm"
              name="tahminiSure"
              value="{{nesne.TahminiSure}}"
            />
          </div>

          <div style="width: 20rem" class="input-group input-group-sm mb-3">
            <div class="input-group-prepend" style="width: 10rem">
              <span class="input-group-text" id="inputGroup-sizing-sm"
                >Gerçekleşen süre:</span
              >
            </div>
            <input
              type="text"
              class="form-control"
              aria-label="Small"
              placeholder="#######"
              aria-describedby="inputGroup-sizing-sm"
              name="gerceklesenSure"
              value="{{nesne.GerceklesenSure}}"
            />
          </div>
        </div>
      </div>

      <div
        class="container"
        style="
          display: flex;
          width: auto;
          height: auto;
          justify-content: space-between;
          margin-top: 1rem;
          box-sizing: border-box;
          background-color: rgba(176, 224, 230, 1);
        "
      >
        <div style="width: 20rem" class="input-group input-group-sm mb-3">
          <div class="input-group-prepend" style="width: 10rem; height: 2rem">
            <span class="input-group-text" id="inputGroup-sizing-sm"
              >İşin açıklaması:</span
            >
          </div>
        </div>
        <textarea
          type="text"
          class="form-control"
          aria-label="Small"
          placeholder="#######"
          aria-describedby="inputGroup-sizing-sm"
          style="height: 20rem"
          col="20"
          name="isAciklamasi"
          
        >{{nesne.IsAciklamasi}}</textarea></div>

      <div
        class="container"
        style="
          display: flex;
          width: auto;
          height: auto;
          justify-content: space-between;
          margin-top: 1rem;
          box-sizing: border-box;
          background-color: rgba(176, 224, 230, 1);
        "
      >
        <div style="width: 20rem" class="input-group input-group-sm mb-3">
          <div class="input-group-prepend" style="width: 10rem; height: 2rem">
            <span class="input-group-text" id="inputGroup-sizing-sm"
              >Notlar:</span
            >
          </div>
        </div>
        <textarea
          type="text"
          class="form-control"
          aria-label="Small"
          placeholder="#######"
          aria-describedby="inputGroup-sizing-sm"
          style="height: 10rem"
          col="20"
          name="notlar"
          
          
        >{{nesne.Notlar}}</textarea></div>
            <div
        class="container"
        style="
          display: flex;
          width: auto;
          height: auto;
          justify-content: space-between;
          margin-top: 1rem;
          box-sizing: border-box;
          background-color: rgba(176, 224, 230, 1);
          flex-direction: column;
        "
      >
        <div style="width: 20rem" class="input-group input-group-sm mb-3">
          <div class="input-group-prepend" style="width: 10rem; height: 2rem">
            <span class="input-group-text" id="inputGroup-sizing-sm"
              >İş Takibi</span
            >
          </div>
        </div>
            <div id="k2" style="display:flex;justify-content:space-between">
              <input
              type="text"
              style="text-align:center;"
              class="form-control"
              aria-label="Small"
              placeholder="Tarih"
              aria-describedby="inputGroup-sizing-sm"
              disabled
            />

            <input
              type="text"
              style="text-align:center;"
              class="form-control"
              aria-label="Small"
              placeholder="Durum"
              aria-describedby="inputGroup-sizing-sm"
              disabled
            />
            <input
              type="text"
              style="text-align:center;"
              class="form-control"
              aria-label="Small"
              placeholder="Yapılacak iş"
              aria-describedby="inputGroup-sizing-sm"
              disabled
            />
            <input
              type="text"
              style="text-align:center;"
              class="form-control"
              aria-label="Small"
              placeholder="Açıklama"
              aria-describedby="inputGroup-sizing-sm"
              disabled
            />
            
            </div>
        {% if Todos1 %}
        
        {% for item in Todos1 %}
        {% if item.TodosJob == nesne %}
        <div id="k1" style="display:flex;justify-content:space-between">
              <input
              type="date"
              class="form-control"
              aria-label="Small"
              placeholder="Tarih"
              value="{{item.todoTarih}}""
              aria-describedby="inputGroup-sizing-sm"
              name = "{{item.t}}"
            />
            <select class="form-control" aria-describedby="inputGroup-sizing-sm"
              name = "{{item.d}}">
            {% if item.todoDurum == "Eklendi" %}
           <option selected>Eklendi</option>
            <option >Yapım Aşamasında</option>
            <option >Bitti</option>
            {% elif item.todoDurum == "Yapım Aşamasında" %}
            <option >Eklendi</option>
            <option selected>Yapım Aşamasında</option>
            <option >Bitti</option>
            {% else %}
            <option >Eklendi</option>
            <option >Yapım Aşamasında</option>
            <option selected>Bitti</option>
            {% endif %}
            
            
            
            </select>

              <input
              type="text"
              class="form-control"
              aria-label="Small"
              placeholder="Yapılacak iş"
              value="{{item.todoYapilacakIs}}"
              aria-describedby="inputGroup-sizing-sm"
              name = "{{item.y}}"
            />
             <input
              type="text"
              class="form-control"
              aria-label="Small"
              placeholder="Açıklama"
              value="{{item.todoAciklama}}"
              aria-describedby="inputGroup-sizing-sm"
              name = "{{item.a}}"
            />
            </div>
        {% else %}
        {% endif %}
              


             


        {% endfor %}

        {% else %}
        {% endif %} 
       <textarea style="visibility:hidden;" name="sayac" id="sayac">0</textarea>
           
            <button type="button" onClick="fonk()" class="btn btn-secondary"  >Daha fazla ekle...</button>
        <textarea style="visibility:hidden;" name="sayac2" >{{i}}</textarea>
      </div>

          <div
        class="container"
        style="
          display: flex;
          width: auto;
          height: auto;
          justify-content: space-between;
          margin-top: 1rem;
          box-sizing: border-box;
          background-color: rgba(176, 224, 230, 1);
          flex-direction: column;
        "
      >
      <button type="submit" class="btn btn-danger">Gönder</button>

      </div>


      </div>
    </div>
    
    </div>

    </form>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
